#window {
	background-color: white;
	border: 1px solid var(--text-color-level3,rgba(26,26,26,0.1));
	border-radius: 8px;
	box-shadow: 0 1px 8px 0 rgb(0 0 0/8%);
	/* min-width: 550px; */

	width: 1000px;
	max-width: 1000px;
	height: 600px;
	padding: 10px;

	transition: all .22s ease-out;

	display: flex;
	flex: 1 1 auto;
}

#event-detials {
	border-right: 1px solid var(--text-color-level3,rgba(26,26,26,0.1));
	width: 40%;
	padding: 10px;
}

#user-info > p {
	color: gray;
	margin-top: 5px;
}

#user-info > img {
	width: 65px;
	height: 65px;
	border-radius: 50%;
}

#event-info > p {
	margin: 0px 0px 5px 0px;
	color: gray;
	font-weight: bold;
}

#event-calendar {
	padding: 10px;
	width: 60%;

	display: flex;
	flex-direction: column;
	/* height: 100%; */
}

.flex-header {
	flex: 0 1 auto;
}

.flex-footer {
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}

.flex-body {
	flex: 1 1 auto;
	overflow: auto;
}

.info-title {
	color: #004796;
	font-weight: bold;
}

.info-desc {
	font-size: large;
	margin-bottom: 15px;
}

#week-number {
	color: gray;
	font-weight: bold;
}

#day-info {
	margin: 5px 0px;
	font-weight: bold;
}

#cal-btn-group {
	margin-bottom: 20px;
	padding: 5px;
}

#cal-btn-group > button {
	margin: 0 12px 8px 0;
	width: 150px;
	height: 40px;

	background-color: transparent;

	border: 1px solid rgba(0,105,255,0.5);
	border-radius: 4px;
	transition: background-color 300ms ease-out, border-color 300ms ease-out, outline 300ms ease-out;

	color: rgb(0,105,255);
	font-weight: 700;
	font-size: 16px;
	text-align: left;

	cursor: pointer;
	outline: 2px solid transparent;
}

#cal-btn-group > button:hover {
	/* border-color: rgb(0,105,255); */
	/* border-width: 2px; */
	outline: 2px solid rgba(0,105,255,1);
}

#cal-btn-group > button.clicked {
	border-color: rgb(0,105,255);
	background-color: rgb(0,105,255);
	color: white;
}

#cal-btn-group > button > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#cal-btn-group > button > div > div:nth-child(2) {
	width: 2ch;
	height: 2ch;
	text-align: center;
	background-color: rgb(228, 233, 255);
	border-radius: 50%;
	margin-right: 5px;
	padding: 5px;
	transition: background-color 300ms ease-out;
}

#cal-btn-group > button.clicked > div > div:nth-child(2) {
	background-color: rgb(56, 139, 255);
}

.btn {
    padding: 8px 16px;

	margin-left: 15px;
    border: 1px solid transparent;
    border-radius: 40px;

	border-color: rgba(0,95,230,1);
    background-color: rgba(0,95,230,1);
	color: rgba(255,255,255,1);

    font-size: 14px;
	font-weight: 700;
    line-height: 22px;

	min-width: 128px;
	cursor: pointer;
}

.btn:hover {
	outline: 0px solid rgba(0,105,255,1);
}

#selected-slots {
	font-size: 14px;
	color: gray;
}

.fade {
	opacity: 1;
	animation: fade-in 1s ease-in-out;
	transition: opacity 1s;
}

@keyframes fade-in {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}

@keyframes fade-out {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
}

.hidden {
	display: none !important;
	animation: fade-out 1s ease-in-out;
}

#event-form {
	padding: 10px;
	width: 60%;

	display: flex;
	flex-direction: column;
}

#event-inputs > label {
	font-weight: 700;
	font-size: 14px;
	margin: 5px;
}

#event-inputs > input {
	display: block;
	margin: 0px 5px;
	width: 70%;
	padding: 10px 14px;
	border: 1px solid #B2B2B2;
    border-radius: 8px;
    background: rgba(255,255,255,1);
    color: #1a1a1a;
    font-size: 16px;
    line-height: 1.5;
    overflow-wrap: normal;
	outline: none;
}

#event-inputs > input:focus {
	border: 1px solid rgba(0,95,230,1);
	/* box-shadow: 0 0 5px rgba(0,95,230,1); */
}
