body {
	margin: 0;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Roboto', sans-serif;
	background-color: #fbfcfd;

	overflow: hidden;
}

#header-title {
	position: absolute;
	top: 0px;
	left: 0px;

	padding-top: 10px;
	padding-left: 20px;

	font-weight: 900;
	font-size: 70px;
	color: rgb(0,105,255);
}

#blob1 {
	position: absolute;
	bottom: -150px;
	right: -150px;

	z-index: -1;

	width: 500px;
	filter: blur(175px);
}

#blob2 {
	position: absolute;
	top: 35%;
	left: -15%;

	z-index: -1;

	width: 500px;
	filter: blur(175px);
}
