body {
	margin: 0;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Roboto', sans-serif;
	background-color: #fbfcfd;

	overflow: hidden;
}

#header-title {
	position: absolute;
	top: 0px;
	left: 0px;

	padding-top: 10px;
	padding-left: 20px;

	font-weight: 900;
	font-size: 70px;
	color: rgb(0,105,255);
}

#blob1 {
	position: absolute;
	bottom: -150px;
	right: -150px;

	z-index: -1;

	width: 500px;
	filter: blur(175px);
}

#blob2 {
	position: absolute;
	top: 35%;
	left: -15%;

	z-index: -1;

	width: 500px;
	filter: blur(175px);
}

#window {
	background-color: white;
	border: 1px solid var(--text-color-level3,rgba(26,26,26,0.1));
	border-radius: 8px;
	box-shadow: 0 1px 8px 0 rgb(0 0 0/8%);
	/* min-width: 550px; */
	width: 1000px;
	max-width: 1000px;
	height: 600px;
	transition: all .22s ease-out;
	padding: 10px;
}
