{% extends "base.html" %}

{% block title %}Clndr - Dashboard{% endblock %}

{% block styles %}
	<link href="{{url_for('static', filename='styles/dashboard.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
		<div id="window">
			<div class="window-header">
				<p>Your Meetings</p>
				<a href="/create" class="btn">Create</a>
			</div>
			<div id="window-body">
				<template id="event-template">
					<div class="event-item">
						<div class="event-card">
							<div class="event-section">
								<div>
									<div class="event-name">Meeting #1</div>
									<div class="event-info">
										<div class="event-location">Online</div>
										<div class="dot">•</div>
										<div class="event-duration">30 minutes</div>
										<div class="dot">•</div>
										<div class="event-slot-count">18 time slots</div>
									</div>
								</div>
								<div>
									<div class="top-vote">Top Vote: date, time</div>
									<div class="n-attendees">Attendees: 18 attendees</div>
								</div>
							</div>
							<div>
								<div class="expand-btn"><span class="icon">▶</span>Details</div>
								<div class="copy-btn"><span class="icon">📋</span>Copy Link</div>
							</div>
						</div>
						<div class="event-details">
							<div class="event-slots">
								<h2 class="card-h2">Available Time Slots</h2>
								<div id="schedule">

								</div>
							</div>
							<div class="event-attendees">
								<h2 class="card-h2">Attendees</h2>
								<div id="attendees-list">
									<table class="attendees-table">
										<thead>
											<tr>
												<th>Name</th>
												<th>Email</th>
											</tr>
										</thead>
										<tbody>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</template>
			</div>
		</div>
		<script src="{{url_for('static', filename='scripts/dashboard.js')}}"></script>
{% endblock %}
