<!DOCTYPE html>
<html>
	<head>
		<title>
			Clndr
		</title>
		<link href="{{url_for('static', filename='styles/main.css')}}" rel="stylesheet" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="window">
			<div id="meeting-detials">
				<div id="user-info">
					<img src="" alt="User Photo" />
					<p>User Name</p>
				</div>
				<h2>Meeting Name</h2>
				<div id="meeting-info">
					<p>XX minutes</p> <!-- Duration -->
					<p>Online</p> <!-- Location -->
				</div>
				<div id="meeting-description">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui officia, esse explicabo reprehenderit blanditiis nulla maiores nostrum excepturi sed quisquam atque eaque magni recusandae tenetur iusto iure perspiciatis laborum enim.</p>
				</div>
			</div>
			<div id="meeting-calendar">
				<div id="schedule-header">
					<div id="info-title">MEETING POLL</div>
					<div id="info-desc">Select all the times you're available to meet</div>
					<hr/>
				</div>
				<div id="schedule">
					<div> <!-- Week Template -->
						<div id="week-number">This Week</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
					</div>
					<div> <!-- Week Template -->
						<div id="week-number">This Week</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
					</div>
					<div> <!-- Week Template -->
						<div id="week-number">This Week</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
					</div>
					<div> <!-- Week Template -->
						<div id="week-number">This Week</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
						<div> <!-- day Template -->
							<div id="day-info">
								Saturday, October 28
							</div>
							<div id="cal-btn-group">
								<button>4:00PM</button> <!-- Time Slot -->
								<button>5:00PM</button> <!-- Time Slot -->
								<button>6:00PM</button> <!-- Time Slot -->
								<button>7:00PM</button> <!-- Time Slot -->
								<button>9:00PM</button> <!-- Time Slot -->
							</div>
						</div>
					</div>
				</div>
				<div>
					<hr/>
					<div id="schedule-options">
						<div id="selected-slots">N times selected</div>
						<button>Next</button>
					</div>
				</div>
			</div>
		</div>
		<script>let eventID = {{ event_id }}</script>
		<script src="{{url_for('static', filename='scripts/script.js')}}"></script>
	</body>
</html>
