{% extends "base.html" %}

{% block title %}Clndr - Event{% endblock %}

{% block styles %}
	<link href="{{url_for('static', filename='styles/event.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
		<div id="window">
			<div id="event-detials">
				<div id="user-info">
					<img src="" alt="User Photo" />
					<p></p>
				</div>
				<h2 id="event-name"></h2>
				<div id="event-info">
					<p></p> <!-- Duration -->
					<p></p> <!-- Location -->
				</div>
				<div id="event-description">
					<p></p>
				</div>
			</div>
			<div id="event-calendar" class="fade">
				<div id="schedule-header" class="flex-header">
					<div class="info-title">MEETING POLL</div>
					<div class="info-desc">Select all the times you're available to meet</div>
					<hr/>
				</div>
				<div id="schedule" class="flex-body">

				</div>
				<div>
					<hr/>
					<div id="schedule-options" class="flex-footer">
						<div id="selected-slots-1">0 times selected</div>
						<button class="btn">Next</button>
					</div>
				</div>
			</div>
			<div id="event-form" class="fade hidden">
				<div class="flex-header">
					<div class="info-title">SUBMIT YOUR PREFERENCES</div>
					<div class="info-desc">The meeting host will see your preferences when deciding on a final time.</div>
					<hr/>
				</div>
				<div class="flex-body">
					<div id="event-inputs">
						<label for="name">Name</label>
						<br/>
						<input id="name" type="text" />
						<br/>
						<label for="email">Email</label>
						<br/>
						<input id="email" type="email" />
					</div>
				</div>
				<div>
					<hr/>
					<div class="flex-footer">
						<div id="selected-slots-2">0 times selected</div>
						<button class="btn" id="submit-btn">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<script>let event_id = {{ event_id }}</script>
		<script src="{{url_for('static', filename='scripts/event.js')}}"></script>
{% endblock %}
