<!DOCTYPE html>
<html>
	<head>
		<title>
			Clndr
		</title>
		<link href="{{url_for('static', filename='styles/main.css')}}" rel="stylesheet" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="header-title">
			Clndr
		</div>
		<div id="window">
			<div id="event-detials">
				<div id="user-info">
					<img src="" alt="User Photo" />
					<p></p>
				</div>
				<h2 id="event-name"></h2>
				<div id="event-info">
					<p></p> <!-- Duration -->
					<p></p> <!-- Location -->
				</div>
				<div id="event-description">
					<p></p>
				</div>
			</div>
			<div id="event-calendar" class="fade">
				<div id="schedule-header" class="flex-header">
					<div class="info-title">MEETING POLL</div>
					<div class="info-desc">Select all the times you're available to meet</div>
					<hr/>
				</div>
				<div id="schedule" class="flex-body">

				</div>
				<div>
					<hr/>
					<div id="schedule-options" class="flex-footer">
						<div id="selected-slots-1">0 times selected</div>
						<button class="btn">Next</button>
					</div>
				</div>
			</div>
			<div id="event-form" class="fade hidden">
				<div class="flex-header">
					<div class="info-title">SUBMIT YOUR PREFERENCES</div>
					<div class="info-desc">The meeting host will see your preferences when deciding on a final time.</div>
					<hr/>
				</div>
				<div class="flex-body">
					<div id="event-inputs">
						<label for="name">Name</label>
						<br/>
						<input id="name" type="text" />
						<br/>
						<label for="email">Email</label>
						<br/>
						<input id="email" type="email" />
					</div>
				</div>
				<div>
					<hr/>
					<div class="flex-footer">
						<div id="selected-slots-2">0 times selected</div>
						<button class="btn" id="submit-btn">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<svg id="blob1" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
			<path fill="#0F62FE" d="M52.2,-36.3C66.7,-23.4,76.9,-1.8,74.2,19.7C71.5,41.2,55.9,62.5,35.6,71.2C15.3,79.8,-9.7,75.9,-30.4,65.2C-51.2,54.4,-67.8,36.8,-74.4,15C-80.9,-6.9,-77.5,-33,-63.4,-45.7C-49.4,-58.4,-24.7,-57.7,-2.9,-55.4C18.8,-53.1,37.7,-49.1,52.2,-36.3Z" transform="translate(100 100)" />
		</svg>
		<svg id="blob2" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
			<path fill="#0F62FE" d="M52.2,-36.3C66.7,-23.4,76.9,-1.8,74.2,19.7C71.5,41.2,55.9,62.5,35.6,71.2C15.3,79.8,-9.7,75.9,-30.4,65.2C-51.2,54.4,-67.8,36.8,-74.4,15C-80.9,-6.9,-77.5,-33,-63.4,-45.7C-49.4,-58.4,-24.7,-57.7,-2.9,-55.4C18.8,-53.1,37.7,-49.1,52.2,-36.3Z" transform="translate(100 100)" />
		</svg>
		<script>let event_id = {{ event_id }}</script>
		<script src="{{url_for('static', filename='scripts/script.js')}}"></script>
	</body>
</html>
