{% extends "base.html" %}

{% block title %}Clndr - Login{% endblock %}

{% block styles %}
	<link href="{{url_for('static', filename='styles/login.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div id="window">
		<div class="window-header">
			<button class="header-tab curved-tr selected" id="loginTab">Login</button>
			<button class="header-tab curved-tl" id="registerTab">Register</button>
		</div>
		<div id="window-body">
			<div id="login" class="fade">
				<h2>Log in to your account</h2>
				<p>Schedule meetings easily</p>
				<hr/>
				<form action="{{url_for('login')}}" method="post">
					<div class="input-group">
						<label for="username">Username</label>
						<input type="text" name="username" id="username" placeholder="Username" required>
					</div>
					<div class="input-group">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" placeholder="Password" required>
					</div>
					<div class="input-group">
						<button type="submit" value="Login">Login</button>
					</div>
				</form>
			</div>
			<div id="register" class="fade hidden">
				<h2>Create your account</h2>
				<p>Schedule meetings easily</p>
				<hr/>
				<form action="{{url_for('register')}}" method="post">
					<div class="input-group">
						<label for="username">Username</label>
						<input type="text" name="username" id="username" placeholder="Username" required>
					</div>
					<div class="input-group">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" placeholder="Email" required>
					</div>
					<div class="input-group">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" placeholder="Password" required>
					</div>
					<div class="input-group">
						<button type="submit" value="Register">Register</button>
					</div>
				</form>
			</div>
			{% if error %}
				<div id="error">
					{{ error }}
				</div>
			{% endif %}
		</div>
	</div>

	<script src="{{url_for('static', filename='scripts/login.js')}}"></script>
{% endblock %}
