<!DOCTYPE html>
<html>
	<head>
		<title>
			Clndr
		</title>
		<link href="{{url_for('static', filename='styles/main.css')}}" rel="stylesheet" type="text/css">
		<link href="{{url_for('static', filename='styles/login.css')}}" rel="stylesheet" type="text/css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="header-title">
			Clndr
		</div>
		<div id="window">
			<div class="window-header">
				<button class="header-tab curved-tr selected" id="loginTab">Login</button>
    			<button class="header-tab curved-tl" id="registerTab">Register</button>
			</div>
			<div id="window-body">
				<div id="login" class="fade">
					<h2>Log in to your account</h2>
					<p>Schedule meetings easily</p>
					<hr/>
					<form action="{{url_for('login')}}" method="post">
						<div class="input-group">
							<label for="username">Username</label>
							<input type="text" name="username" id="username" placeholder="Username" required>
						</div>
						<div class="input-group">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" placeholder="Password" required>
						</div>
						<div class="input-group">
							<button type="submit" value="Login">Login</button>
						</div>
					</form>
				</div>
				<div id="register" class="fade hidden">
					<h2>Create your account</h2>
					<p>Schedule meetings easily</p>
					<hr/>
					<form action="{{url_for('register')}}" method="post">
						<div class="input-group">
							<label for="username">Username</label>
							<input type="text" name="username" id="username" placeholder="Username" required>
						</div>
						<div class="input-group">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" placeholder="Email" required>
						</div>
						<div class="input-group">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" placeholder="Password" required>
						</div>
						<div class="input-group">
							<button type="submit" value="Register">Register</button>
						</div>
					</form>
				</div>
				{% if error %}
					<div id="error">
						{{ error }}
					</div>
				{% endif %}
			</div>
		</div>
		<svg id="blob1" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
			<path fill="#0F62FE" d="M52.2,-36.3C66.7,-23.4,76.9,-1.8,74.2,19.7C71.5,41.2,55.9,62.5,35.6,71.2C15.3,79.8,-9.7,75.9,-30.4,65.2C-51.2,54.4,-67.8,36.8,-74.4,15C-80.9,-6.9,-77.5,-33,-63.4,-45.7C-49.4,-58.4,-24.7,-57.7,-2.9,-55.4C18.8,-53.1,37.7,-49.1,52.2,-36.3Z" transform="translate(100 100)" />
		</svg>
		<svg id="blob2" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
			<path fill="#0F62FE" d="M52.2,-36.3C66.7,-23.4,76.9,-1.8,74.2,19.7C71.5,41.2,55.9,62.5,35.6,71.2C15.3,79.8,-9.7,75.9,-30.4,65.2C-51.2,54.4,-67.8,36.8,-74.4,15C-80.9,-6.9,-77.5,-33,-63.4,-45.7C-49.4,-58.4,-24.7,-57.7,-2.9,-55.4C18.8,-53.1,37.7,-49.1,52.2,-36.3Z" transform="translate(100 100)" />
		</svg>
		<script src="{{url_for('static', filename='scripts/login.js')}}"></script>
	</body>
</html>
