{% extends "base.html" %}

{% block title %}Clndr - Success{% endblock %}

{% block styles %}
	<link href="{{url_for('static', filename='styles/success.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
		<div id="window">
			<img src="/static/images/hex-check.svg" alt="success" />
			<h2 style="font-size: 34px; margin-bottom: 0px;">
				Thanks for voting!
			</h2>
			<p style="max-width: 400px; color: gray; text-align: center;">
				You'll receive a calendar invitation when the host decides a final time from submitted votes.
			</p>
		</div>
{% endblock %}
